In [1]:
import pandas as pd
import numpy as np

In [2]:
north = pd.read_csv('North.csv')
south = pd.read_csv('South.csv')
west = pd.read_csv('West.csv')
sales = pd.read_csv('Sales.csv')

In [3]:
north.sort_values(by='Store Num', ascending=True, inplace=True)
west.sort_values(by='Store Num', ascending=True, inplace=True)
south.sort_values(by='Store Num', ascending=True, inplace=True)
sales.sort_values(by='Store Number', ascending=True, inplace=True)

In [4]:
north.rename(columns={'Store Num':'Store Number', 'Lon':'Longtitude', 'Lat':'Latitude'}, inplace=True)
south.rename(columns={'Store Num':'Store Number', 'Lon':'Longtitude', 'Lat':'Latitude'}, inplace=True)
west.rename(columns={'Store Num':'Store Number', 'Lon':'Longtitude', 'Lat':'Latitude'}, inplace=True)

In [5]:
north.set_index('Store Number', inplace=True)
south.set_index('Store Number', inplace=True)
west.set_index('Store Number', inplace=True)

In [18]:
store = north.append([south, west], ignore_index=False)

In [23]:
sales.set_index('Store Number', inplace = True)
sales.shape

(302, 3)

In [27]:
store[sales.columns] = sales

In [36]:
store.reset_index(inplace=True)
store.sort_values(by='Store Number', ascending=True, inplace=True)
store.set_index('Store Number', inplace=True)
store.head()

,Address,City,State,ZIP,Latitude,Longtitude,County,Region,Type,Cash Sales,Credit Sales,Total Customers
Store Number,,,,,,,,,,,,
86,7899 Wadsworth Blvd,Arvada,CO,80003,39.840025,-105.082088,Jefferson County,North,FS,83460,30022,2220
126,14200 E Ellsworth Ave,Aurora,CO,80012,39.716443,-104.822288,Arapahoe County,South,FS,166215,59790,733
291,16910 E Quincy Ave,Aurora,CO,80015,39.638273,-104.791136,Arapahoe County,South,FS,203746,73290,3428
868,7400 S Gartrell Rd,Aurora,CO,80016,39.565570,-104.718046,Douglas County,South,FS,289944,64432,981
1062,15700 E Briarwood Cir,Aurora,CO,80016,39.593740,-104.803615,Arapahoe County,South,FS,191032,68717,4699

In [39]:
store['Total Sales'] = store[['Cash Sales', 'Credit Sales']].sum(axis=1)

In [40]:
store.head()

,Address,City,State,ZIP,Latitude,Longtitude,County,Region,Type,Cash Sales,Credit Sales,Total Customers,Total Sales
Store Number,,,,,,,,,,,,,
86,7899 Wadsworth Blvd,Arvada,CO,80003,39.840025,-105.082088,Jefferson County,North,FS,83460,30022,2220,113482
126,14200 E Ellsworth Ave,Aurora,CO,80012,39.716443,-104.822288,Arapahoe County,South,FS,166215,59790,733,226005
291,16910 E Quincy Ave,Aurora,CO,80015,39.638273,-104.791136,Arapahoe County,South,FS,203746,73290,3428,277036
868,7400 S Gartrell Rd,Aurora,CO,80016,39.565570,-104.718046,Douglas County,South,FS,289944,64432,981,354376
1062,15700 E Briarwood Cir,Aurora,CO,80016,39.593740,-104.803615,Arapahoe County,South,FS,191032,68717,4699,259749

In [6]:
df = pd.read_csv(r'C:\Users\Omotosho\Desktop\Tayo\Soft Skills\Python\Scripts_Notebooks\CO Store/Store.csv')

In [45]:
df.head(2)

,Store Number,Address,City,State,ZIP,Latitude,Longtitude,County,Region,Type,Cash Sales,Credit Sales,Total Customers,Total Sales
0,86,7899 Wadsworth Blvd,Arvada,CO,80003,39.840025,-105.082088,Jefferson County,North,FS,83460,30022,2220,113482
1,126,14200 E Ellsworth Ave,Aurora,CO,80012,39.716443,-104.822288,Arapahoe County,South,FS,166215,59790,733,226005

In [8]:
df.shape

(302, 14)

In [9]:
%matplotlib inline
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt

In [10]:
import os

In [15]:
os.chdir('../datasets')

In [16]:
os.getcwd()

'C:\\Users\\Omotosho\\Desktop\\Tayo\\Soft Skills\\Python\\Repositories\\scripts-notebooks\\datasets'

In [17]:
df = pd.read_csv('diabetes.csv')

In [18]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1